@using WebApp.ViewModels.Admin

@model AdminViewModel

@{
    ViewData["Title"] = "Admin";
}

<main class="main-admin container">
    <h1 class="fancy-heading">Admin</h1>
    <section>
        <table>
            <caption>User accounts</caption>
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@string.Join(", ", user.Roles)</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <section class="section-contact-messages">
        <h2>Contact messages</h2>
        <div class="messages">
            @foreach (var message in Model.ContactMessages)
            {
                <div class="message">
                    <h3>@message.Subject</h3>
                    <div class="body">
                        <p class="sender">@message.Name | @message.Email</p>
                        <p>@message.Message</p>
                    </div>
                </div>
            }
        </div>
    </section>
</main>
