@using WebApp.ViewModels.Account

@model AccountViewModel

@{
    ViewData["Title"] = "Account";
}

<main class="main-account container">
    <h1 class="fancy-heading">Account</h1>
    <section>
        <header>
            <h2>Hello @Model.FirstName!</h2>
            <div>
                @if (User.IsInRole("Admin"))
                {
                    <a class="button" asp-controller="Admin" asp-action="Index">Admin</a>
                }
                <a class="button" asp-controller="Account" asp-action="Logout">Sign out</a>
            </div>
        </header>
        <div class="info">
            <h3>Account Details</h3>
            <div>
                <p class="small">Name</p>
                <p>@Model.FirstName @Model.LastName</p>
            </div>
            <div>
                <p class="small">Email</p>
                <p>@Model.Email</p>
            </div>
            <div>
                <p class="small">Roles</p>
                <p>@string.Join(", ", Model.Roles)</p>
            </div>
        </div>
    </section>
</main>